extends layout

block content
    section#content
        h2= text 
        p
            i Hint: #{hint}
        a(href = `/cards/${id}?side=${sideToShow}`)= sideToShowDisplay
        br
        a(href= `/cards`) Next Card
                
